<a href="https://colab.research.google.com/github/Asfia-Fathima/Statistical-Analytics-computing/blob/main/Lab_8_(07_04_2025).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This contains-

~Comparison Functions(greater ,lesser, equal)

~Data Cleaning(FIND POSITION OF MISSING VAL,DROP,REPLACE)

In [2]:
a=5
b=3
print("equal to :",a==b)
print("Not equal to:",a!=b)
print("Greater than:",a>b)
print("less than:",a<b)

equal to : False
Not equal to: True
Greater than: True
less than: False

In [4]:
#18#Data cleaning
#a)find the position of missing values
##Checking for missing values
import numpy as np
import pandas as pd
data={'Name':['Alice','Bob','Charlie','Bob','Alice'],
     'Age':[25,np.nan,35,40,28],
      'Salary':[50000,60000,np.nan,55000,62000],
     'Allowances':[2000,np.nan,2000,2000,2000]}
df=pd.DataFrame(data)
print(df)

print("\n No.of null values present\n",df.isnull().sum())
print("\n No.of NON-NULL values present\n",df.notnull().sum())
#dropping missing values
print("\nRemove missing values\n",df.dropna())

      Name   Age   Salary  Allowances
0    Alice  25.0  50000.0      2000.0
1      Bob   NaN  60000.0         NaN
2  Charlie  35.0      NaN      2000.0
3      Bob  40.0  55000.0      2000.0
4    Alice  28.0  62000.0      2000.0

 No.of null values present
 Name          0
Age           1
Salary        1
Allowances    1
dtype: int64

 No.of NON-NULL values present
 Name          5
Age           4
Salary        4
Allowances    4
dtype: int64

Remove missing values
     Name   Age   Salary  Allowances
0  Alice  25.0  50000.0      2000.0
3    Bob  40.0  55000.0      2000.0
4  Alice  28.0  62000.0      2000.0