<a href="https://colab.research.google.com/github/Asfia-Fathima/Statistical-Analytics-computing/blob/main/Lab_9_(28_04_2025).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

this includes-

~20-Implement the following queries using SQLite

~21-Implement the data transformation in python using Pandas

~22-Implement String Manipulation Functions in Python

In [30]:
# Step 1: Import Library
import sqlite3
print("Step 1: sqlite3 library imported successfully.\n")
# Step 2: Connect to Database
conn = sqlite3.connect(r'D:\student_new.db')
cursor = conn.cursor()
print("Step 2: Connected to database 'student_new.db' in D drive.\n")
# Step 3: Create a Table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY,
        name TEXT,
        age INTEGER
    )
''')
conn.commit()
print("Step 3: Table 'students' created successfully (if not already exists).\n")
# Step 4: Insert Records
cursor.execute("INSERT INTO students (name, age) VALUES (?, ?)", ('Alice', 21))
cursor.execute("INSERT INTO students (name, age) VALUES (?, ?)", ('Bob', 22))
conn.commit()
print("Step 4: Two records inserted into 'students' table.\n")
# Step 5: Display Records
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()
print("Step 5: Displaying all records in 'students' table:")
for row in rows:
    print(row)
print()
# Step 6: Add New Column
cursor.execute("ALTER TABLE students ADD COLUMN grade TEXT")
conn.commit()
print("Step 6: Column 'grade' added to 'students' table.\n")
# Step 7: Update Records
cursor.execute("UPDATE students SET age = 23 WHERE name = 'Bob'")
conn.commit()
print("Step 7: Updated 'Bob's age to 23.\n")
# Step 8: Delete a Record
cursor.execute("DELETE FROM students WHERE name = 'Alice'")
conn.commit()
print("Step 8: Deleted record where name is 'Alice'.\n")
# Step 9: Display Records After Deletion
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()
print("Step 9: Displaying records after deletion:")
for row in rows:
    print(row)
print()
# Step 10: Drop the Table (Optional)
# cursor.execute("DROP TABLE IF EXISTS students")
# conn.commit()
# print("Step 10: Dropped the 'students' table.\n")
# Step 11: Close the Connection
conn.close()
print("Step 11: Database connection closed.\n")

Step 1: sqlite3 library imported successfully.

Step 2: Connected to database 'student_new.db' in D drive.

Step 3: Table 'students' created successfully (if not already exists).

Step 4: Two records inserted into 'students' table.

Step 5: Displaying all records in 'students' table:
(1, 'Alice', 21)
(2, 'Bob', 22)

Step 6: Column 'grade' added to 'students' table.

Step 7: Updated 'Bob's age to 23.

Step 8: Deleted record where name is 'Alice'.

Step 9: Displaying records after deletion:
(2, 'Bob', 23, None)

Step 11: Database connection closed.

In [27]:
import pandas as pd
import numpy as np
# Sample dataset
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Eve', 'Frank', 'Grace', 'Heidi'],
    'Age': [25, 30, 35, 25, 29, 45, 50, 22],
    'Score': [88, 90, 85, 88, 76, 95, 67, 70],
    'Gender': ['F', 'M', 'M', 'F', 'F', 'M', 'F', 'F']
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
# 1. Removing Duplicates
df = df.drop_duplicates()
print("\nAfter Removing Duplicates:")
print(df)
# 2. Adding a Column
df['Pass'] = df['Score'] >= 75
print("\nAfter Adding 'Pass' Column:")
print(df)
# 3. Replacing Values
df['Gender'] = df['Gender'].replace({'F': 'Female', 'M': 'Male'})
print("\nAfter Replacing Gender Values:")
print(df)
# 4. Renaming Axis / Index
df.rename(index={0: 'ID001', 1: 'ID002'}, inplace=True)
print("\nAfter Renaming Index:")
print(df)
# 5. Discretization / Binning Age
df['Age_Group'] = pd.cut(df['Age'], bins=[0, 25, 35, 50], labels=['Young', 'Middle-aged', 'Senior'])
print("\nAfter Binning 'Age' into Age_Group:")
print(df)

# 6. Detecting and Filtering Outliers in Score (IQR Method)
Q1 = df['Score'].quantile(0.25)
Q3 = df['Score'].quantile(0.75)
IQR = Q3 - Q1
filtered_df = df[(df['Score'] >= Q1 - 1.5 * IQR) & (df['Score'] <= Q3 + 1.5 * IQR)]
print("\nAfter Filtering Outliers in 'Score':")
print(filtered_df)

# 7. Permutation and Random Sampling
shuffled_age = np.random.permutation(df['Age'].values)
df['Age'] = shuffled_age
sample_df = df.sample(n=3, random_state=1)
print("\nShuffled DataFrame:")
print(shuffled_age)
print("\nRandom Sample of 3 Rows:")
print(sample_df)

Original DataFrame:
      Name  Age  Score Gender
0    Alice   25     88      F
1      Bob   30     90      M
2  Charlie   35     85      M
3    Alice   25     88      F
4      Eve   29     76      F
5    Frank   45     95      M
6    Grace   50     67      F
7    Heidi   22     70      F

After Removing Duplicates:
      Name  Age  Score Gender
0    Alice   25     88      F
1      Bob   30     90      M
2  Charlie   35     85      M
4      Eve   29     76      F
5    Frank   45     95      M
6    Grace   50     67      F
7    Heidi   22     70      F

After Adding 'Pass' Column:
      Name  Age  Score Gender   Pass
0    Alice   25     88      F   True
1      Bob   30     90      M   True
2  Charlie   35     85      M   True
4      Eve   29     76      F   True
5    Frank   45     95      M   True
6    Grace   50     67      F  False
7    Heidi   22     70      F  False

After Replacing Gender Values:
      Name  Age  Score  Gender   Pass
0    Alice   25     88  Female   True
1      Bob   30     90    Male   True
2  Charlie   35     85    Male   True
4      Eve   29     76  Female   True
5    Frank   45     95    Male   True
6    Grace   50     67  Female  False
7    Heidi   22     70  Female  False

After Renaming Index:
          Name  Age  Score  Gender   Pass
ID001    Alice   25     88  Female   True
ID002      Bob   30     90    Male   True
2      Charlie   35     85    Male   True
4          Eve   29     76  Female   True
5        Frank   45     95    Male   True
6        Grace   50     67  Female  False
7        Heidi   22     70  Female  False

After Binning 'Age' into Age_Group:
          Name  Age  Score  Gender   Pass    Age_Group
ID001    Alice   25     88  Female   True        Young
ID002      Bob   30     90    Male   True  Middle-aged
2      Charlie   35     85    Male   True  Middle-aged
4          Eve   29     76  Female   True  Middle-aged
5        Frank   45     95    Male   True       Senior
6        Grace   50     67  Female  False       Senior
7        Heidi   22     70  Female  False        Young

After Filtering Outliers in 'Score':
          Name  Age  Score  Gender   Pass    Age_Group
ID001    Alice   25     88  Female   True        Young
ID002      Bob   30     90    Male   True  Middle-aged
2      Charlie   35     85    Male   True  Middle-aged
4          Eve   29     76  Female   True  Middle-aged
5        Frank   45     95    Male   True       Senior
6        Grace   50     67  Female  False       Senior
7        Heidi   22     70  Female  False        Young

Shuffled DataFrame:
[22 30 35 50 29 25 45]

Random Sample of 3 Rows:
          Name  Age  Score  Gender   Pass    Age_Group
7        Heidi   45     70  Female  False        Young
2      Charlie   35     85    Male   True  Middle-aged
ID002      Bob   30     90    Male   True  Middle-aged

In [26]:
## 22. Implement String Manipulation Functions in Python
# Case Conversion Methods
text = 'hello world'
print(text.upper() )
print(text.lower())
print(text.title())
print(text.capitalize() )

HELLO WORLD
hello world
Hello World
Hello world

In [15]:
##2. strip methods
s = '  Python '
print(s.strip() )
print(s.lstrip() )
print(s.rstrip() )

Python
Python
  Python

In [16]:
##3. replace()
text = 'data science'
print(text.replace('data', 'AI'))

AI science

In [17]:
#4. split() and join()
sentence = 'AI,ML,DL'
sentence.split(',')

['AI', 'ML', 'DL']

In [18]:
words = ['Data', 'Science']
' '.join(words)

'Data Science'

In [19]:
# 5. find() and index()
msg = 'machine learning'
msg.find('learn')   # 8
msg.index('learn')  # 8

8

In [20]:
# 5. find() and index()
msg = 'machine learning'
msg.find('learn')   # 8
msg.index('learn')  # 8

8

In [21]:
## 7. count()
text = 'banana'
text.count('a')  # 3

3

In [22]:
## 8. isalpha(), isdigit(), isalnum(), isspace()
'abc'.isalpha()    # True
'123'.isdigit()    # True
'abc123'.isalnum() # True
'   '.isspace()    # True

True

In [23]:

## 9. zfill()
num = '42'
num.zfill(5)  # '00042'

'00042'

In [24]:
## 10. format() and f-strings
name = 'Alice'
score = 95
"Name: {}, Score: {}".format(name, score)
f"Name: {name}, Score: {score}"

'Name: Alice, Score: 95'

In [25]:
## 11. casefold()
"Straße".casefold() == "strasse"

True