<a href="https://colab.research.google.com/github/Asfia-Fathima/Statistical-Analytics-computing/blob/main/lab_5_(17_03_2025).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

this contains-

Work with following functions in Series and Data frames using Pandas

In [2]:
##2##Working with series of different data types
#–integer datatype
import pandas as pd
data=[10,20,30,40]
series=pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
#–object datatype
import pandas as pd
data=['AAA','BBB','CCC']
series=pd.Series(data)
print(series)

0    AAA
1    BBB
2    CCC
dtype: object

In [4]:
##3#Creating a data frame
import pandas as pd
data={'Name':['Alice','Bob','Charlie'],
     'Age':[25,30,35],
     'City':['New york','Los Angeles','chicago']}
df=pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New york
1      Bob   30  Los Angeles
2  Charlie   35      chicago

In [5]:
##4## using “head,tail,describe,info,columns,shape,index” functions
import pandas as pd
data={'Name':['Alice','Bob','Charlie','David','Eva'],
     'Age':[25,30,35,40,28],
     'City':['New york','Los Angeles','Chicago','Texas','Dallas']}
df=pd.DataFrame(data)
print("Original dataframe",df)
print("\nFirst three rows=\n",df.head(3))
print("\nLast two rows=\n",df.tail(2))
print("\nLast two rows=\n",df.tail(2))
print("\nAll Column names",df.columns)
print("\nShape of the dataFrame",df.shape)
print("\nIndex=",df.index)
print("\nstatistical summary=\n",df.describe())
print("\n Data frame Information\n",df.info)

Original dataframe       Name  Age         City
0    Alice   25     New york
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40        Texas
4      Eva   28       Dallas

First three rows=
       Name  Age         City
0    Alice   25     New york
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

Last two rows=
     Name  Age    City
3  David   40   Texas
4    Eva   28  Dallas

Last two rows=
     Name  Age    City
3  David   40   Texas
4    Eva   28  Dallas

All Column names Index(['Name', 'Age', 'City'], dtype='object')

Shape of the dataFrame (5, 3)

Index= RangeIndex(start=0, stop=5, step=1)

statistical summary=
             Age
count   5.00000
mean   31.60000
std     5.94138
min    25.00000
25%    28.00000
50%    30.00000
75%    35.00000
max    40.00000

 Data frame Information
 <bound method DataFrame.info of       Name  Age         City
0    Alice   25     New york
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40        Texas
4      Eva   28       Dallas>

In [6]:
##5##working with functions to select specific columns,rows ,accessing them by specific row labels as well as index(selection operations)###
import pandas as pd
data={'Name':['Alice','Bob','Charlie','David','Eva'],
     'Age':[25,30,35,40,28],
      'Salary':[50000,60000,70000,55000,62000],
     'City':['New york','Los Angeles','Chicago','Texas','Dallas']}
df=pd.DataFrame(data)
print("\nOriginal dataframe\n",df)
print("\nSingle Column\n",df['Name'])
print("\nMultiple Columns\n",df[['Name','Age']])
print("\nFirst Row\n",df.iloc[0])
print("\nSelect value from first row\n",df.loc[0,'Name'])

Original dataframe
       Name  Age  Salary         City
0    Alice   25   50000     New york
1      Bob   30   60000  Los Angeles
2  Charlie   35   70000      Chicago
3    David   40   55000        Texas
4      Eva   28   62000       Dallas

Single Column
 0      Alice
1        Bob
2    Charlie
3      David
4        Eva
Name: Name, dtype: object

Multiple Columns
       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40
4      Eva   28

First Row
 Name         Alice
Age             25
Salary       50000
City      New york
Name: 0, dtype: object

Select value from first row
 Alice

In [8]:
##6## Filtering and Conditional Selection
print("\n filtered Age-\n",df[df['Age']>28])
print("\n Filtered City-\n",df[df['City'].isin(['Chicago','New york'])])

 filtered Age-
       Name  Age  Salary         City
1      Bob   30   60000  Los Angeles
2  Charlie   35   70000      Chicago
3    David   40   55000        Texas

 Filtered City-
       Name  Age  Salary      City
0    Alice   25   50000  New york
2  Charlie   35   70000   Chicago

In [9]:
##Sorting And Reordering
import pandas as pd
data={'Name':['Alice','Bob','Charlie','David','Eva'],
     'Age':[25,30,35,40,28],
      'Salary':[50000,60000,70000,55000,62000]}
df=pd.DataFrame(data)
print("\nOriginal dataframe\n",df)
sorted_salary= df.sort_values('Salary',ascending=False)
print("\nSorted salary\n",sorted_salary)
sorted_multiple=df.sort_values(['Name','Age','Salary'])
print("\nMultiple Sorting \n",sorted_multiple)
indexed=df.set_index('Name')
print("\nSets name as index\n",indexed)
reset=df.reset_index()
print("\nReseted Index\n",reset)

Original dataframe
       Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   55000
4      Eva   28   62000

Sorted salary
       Name  Age  Salary
2  Charlie   35   70000
4      Eva   28   62000
1      Bob   30   60000
3    David   40   55000
0    Alice   25   50000

Multiple Sorting
       Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   55000
4      Eva   28   62000

Sets name as index
          Age  Salary
Name
Alice     25   50000
Bob       30   60000
Charlie   35   70000
David     40   55000
Eva       28   62000

Reseted Index
    index     Name  Age  Salary
0      0    Alice   25   50000
1      1      Bob   30   60000
2      2  Charlie   35   70000
3      3    David   40   55000
4      4      Eva   28   62000