<a href="https://colab.research.google.com/github/Asfia-Fathima/Statistical-Analytics-computing/blob/main/Lab_1_(17_02_2025).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This file includes-"Basic Programs in python" of day-17-feb-2025

In [ ]:
#1# USE OF DIFF DATA TYPES
a=10
b=19.8
c='string'
d='true'
print(type(a));
print(type(b));
print(type(c));
print(type(d));

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [ ]:
#2# ARITHMETIC OPERATIONS
f=20
g=10
print("sum =",f+g)
print("difference =",f-g)
print("product=",f*g)
print("quotient=",f/g)

sum = 30
difference = 10
product= 200
quotient= 2.0

In [ ]:

#2# LOGICAL OPERATIONS
a=int(input("Enter a"))
b=int(input("Enter b"))
p= a and b
print("or operation=",p)
c=a or b
print("or operation=",c)
d= not b
print("not operation=",d)

Enter a10
Enter b20
or operation= 20
or operation= 10
not operation= False

In [ ]:
#2# BITWISE OPERATORS
a = 5
b = 3
print(a & b)
print(a | b)
print(a ^ b)

1
7
6

In [ ]:
#2# RELATIONAL OPERATORS
a=5
b=3
print("equal to :",a==b)
print("Not equal to:",a!=b)
print("Greater than:",a>b)
print("less than:",a<b)

equal to : False
Not equal to: True
Greater than: True
less than: False

In [ ]:
#3# IF ELSE LOOP
n=int(input("Enter a number"))
if (n % 2 ==0):
    print(n,"is even")
else:
    print(n,"is odd")

Enter a number10
10 is even

In [ ]:
#3# NESTED IF ELSE

m1=int(input("subject1 marks="))
m2=int(input("subject2 marks="))
m3=int(input("subject3 marks="))
avg= ((m1+m2+m3)/3)
if (avg>=80):
             print("A Grade")
elif (avg>=60) and (avg<80):
             print("B Grade")
elif (avg>=40) and (avg<60):
             print("C Grade")
else:
         print("Fail")

subject1 marks=22
subject2 marks=25
subject3 marks=64
Fail

In [ ]:
#5# FOR LOOP
n=int(input("enter a number "))
for i in range(1,n+1,2):
    print("i=",i)

enter a number 2
i= 1

In [ ]:
#6#NO PARAMETER NO RETURN


def fun():
    print("Hello")
print ("main prog")
fun()

main prog
Hello

In [ ]:
#6# PARAMETER NO RETURN
def fun(x,y):
    print(x+y)
print ("main prog")
a=10
b=20
fun(a,b)

main prog
30

In [ ]:
#6# NO PARAMETER AND  RETURN
def fun():
    a=10
    b=20
    print(a+b)
print ("main prog")
fun()

main prog
30

In [ ]:
#6#PARAMETER AND RETURN
def add(x, y):
    return x + y
result = add(3, 4)
print(result)

7

In [ ]:
#7#CLASSES AND OBJECTS
class  car:
    def __init__ (self,brand,model):
        self.brand=brand
        self.model=model
    def print_details(self):
        print(f"Brand:{self.brand}")
        print(f"model:{self.model}")
#Create objects
car1=car("toyota","Corolla")
car2=car("honda","Civic")
#call methods
car1.print_details()
car2.print_details()

Brand:toyota
model:Corolla
Brand:honda
model:Civic

In [ ]:
#8# LISTS AND ITS OPERATIONS
l1=[1,2,3]
print(l1)
l2=[1.5]
print(l2)
l1
l1.extend([40,50])
print(l1)
l1.append(50)
print(l1)
l1.pop()
l1

[1, 2, 3]
[1.5]
[1, 2, 3, 40, 50]
[1, 2, 3, 40, 50, 50]

[1, 2, 3, 40, 50]

In [ ]:
#9# DICTIONARY OPERATIONS
#Accessing Values
d1 = {"name": "John", "age": 30, "city": "New York"}
print(d1["name"])
#Modifying Values
d1 = {"name": "John", "age": 30, "city": "New York"}
d1["age"] = 31
print(d1)
#Adding a New Value
d1 = {"name": "John", "age": 30, "city": "New York"}
d1["country"] = "USA"
print(d1)
#Keys
d1 = {"name": "John", "age": 30, "city": "New York"}
print(d1.keys())
#Values
d1 = {"name": "John", "age": 30, "city": "New York"}
print(d1.values())
#Pop
d1 = {"name": "John", "age": 30, "city": "New York"}
d1.pop("age")
print(d1)

John
{'name': 'John', 'age': 31, 'city': 'New York'}
{'name': 'John', 'age': 30, 'city': 'New York', 'country': 'USA'}
dict_keys(['name', 'age', 'city'])
dict_values(['John', 30, 'New York'])
{'name': 'John', 'city': 'New York'}

In [ ]:
#10# TUPLE METHODS
t1=(1,2,3,4)
t2=(5,6,7,8)
print("Indexing= ",t1[2])
print("slicing= ",t1[1:3])
print("Concatenation=",t1+t2)
print("Repeatition",t1*2)
print("Count=",t2.count(2))

Indexing=  3
slicing=  (2, 3)
Concatenation= (1, 2, 3, 4, 5, 6, 7, 8)
Repeatition (1, 2, 3, 4, 1, 2, 3, 4)
Count= 0

In [ ]:
#11#SET OPERATIONS
#Creating a Set
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}
#Union Operation
s3 = s1.union(s2)
print(s3)
#Intersection Operation
s3 = s1.intersection(s2)
print(s3)
#Difference Operation
s3 = s1.difference(s2)
print(s3)
#Symmetric Difference Operation
s3 = s1.symmetric_difference(s2)
print(s3)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}